name: Nightly Firmware

on:
  workflow_call:
    inputs:
      product-name:
        required: true
        type: string
    secrets:
      DOCS_REPO_TOKEN:
        required: true

jobs:
  build-firmware:
    name: Build Firmware
    uses: esphome/workflows/.github/workflows/build.yml@2025.10.0
    with:
      files: |
        ${{ inputs.product-name }}.factory.yaml
      esphome-version: stable
      combined-name: ${{ inputs.product-name }}

      release-summary: Nightly automated build for ${{ inputs.product-name }}
      release-url: https://github.com/ElevatedSensors/bed-presence-mk1/releases/tag/nightly
      release-version: nightly

  upload-to-release:
    name: Upload to Release
    needs: build-firmware
    uses: esphome/workflows/.github/workflows/upload-to-gh-release.yml@2025.10.0
    with:
      version: ${{ github.event.release.tag_name }}
