name: Release

on:
  release:
    types: [released]

jobs:
  publish:
    permissions:
      contents: write
      pull-requests: write
    uses: ElevatedSensors/workflows/.github/workflows/firmware-publish.yml@v1
    with:
      product-name: "bed-presence-mk1"
      build-type: "release"
    secrets:
      DOCS_REPO_TOKEN: ${{ secrets.DOCS_REPO_TOKEN }}
